[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pdf2image = "*"
pandas = "*"
matplotlib = "*"
pyzbar = "*"
fpdf = "*"
pillow = "*"
pypdf2 = "*"
pikepdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
